.hidden {
    display: none;
}

body {
    font-family:Arial, Helvetica, sans-serif;
    background-color: rgb(0, 0, 0);
    color: white;
}

header {
    background-color: rgb(154, 138, 248);
    padding: none;
}

#main-logo {
    width: 300px;
    display: block;
    margin: 0 auto;
}

#soldier-nav {
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #5a5656;
    background-image: url(../images/chainlink.svg);
    background-repeat: no-repeat;
    background-size: cover;
}

#soldiers {
    list-style-type: none;
    text-align: center;
}


#soldiers li {
    display: inline;
    margin: 10px 10px;
    cursor: pointer;
}

#soldiers li img {
    padding: 10px;
    border: solid 1px white;
    transition: all 1s ease-in-out;
    background-color: black;
    box-shadow: 0px 0px 10px 0px wheat;
}

#soldiers li a {
    text-decoration: none;
}

#soldiers li img:hover {
    transform: rotateY(360deg);
    filter: grayscale(100%);
    border-radius: 150px;

}

#instructions {
    padding: 20px;
}

#instructions h3 {
    font-size: 32px;
    text-align: center;
    margin-bottom: 14px;
}

#instructions p {
    font-size: 18px;
    line-height: 22px;
    text-align: center;
}

footer {
    color: white;
    padding: 25px;
    text-align: center;
}

#main-footer {
    height: 80px;
    background-color: rgb(154, 138, 248);
}

.lightbox {
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    background-color: rgba(0, 0, 0, 0.85);
    display: none;
    background-repeat: no-repeat;
    background-size: 55vh;
    background-position: 40px bottom;
}

.lightbox:target {
    display: block;
}

#lightbox1 {
    background-image: url(../images/igrispng.png);
    background-size: 45%;
    background-position: 20% 75%;
    position: fixed;
    text-align: center;
}

#lightbox2 {
    background-image: url(../images/ironpng.png);
    background-size: 40%;
    background-position: 90% 60%;
    text-align: center;
}

#lightbox3 {
    background-image: url(../images/tuskpng.png);
    background-size: 45%;
    background-position: center;
    text-align: center;
}

#lightbox4 {
    background-image: url(../images/kaiselpng.png);
    background-size: 65%;
    background-position: 5% 20%;
    text-align: center;
}

#lightbox5 {
    background-image: url(../images/berupng.png);
    background-size: 70%;
    background-position: right;
    text-align: center;
}

.lightbox-close {
    color: white;
    font-size: 36px;
    font-weight: bold;
    text-decoration: none;
    margin-left: 95vw;
    transition: all .5s ease-in-out;
}

.lightbox-close:hover {
    color: red;
}

.lightbox #igris {
    width: 600px;
    margin-left: 900px;
    margin-top: 100px;
}

.lightbox #iron {
    width: 600px;
    margin-left: 300px;
    margin-top: 300px;
}

.lightbox #tusk {
    width: 1200px;
    margin-left: 360px;
    margin-top: 400px;

}

.lightbox #kaisel {
    width: 600px;
    margin-left: 1250px;
    margin-top: 450px;
}

.lightbox #beru {
    width: 600px;
    margin-left: 150px;
    margin-top: 200px;
}

.lb-heading {
    font-size: 32px;
}

.lightbox p {
    line-height: 26px;
}